(function() {

var global = this;
var _ = global._ || require('underscore');
var sql = global.SqlBricks || require('../sql-bricks.js');
var assert;
if (typeof require != 'undefined') {
  assert = require('assert');
}
else {
  assert = {
    'equal': function(actual, expected) {
      if (actual != expected) throw new Error(JSON.stringify(actual) + ' == ' + JSON.stringify(expected));
    },
    'deepEqual': function(actual, expected) {
      if (!_.isEqual(actual, expected)) throw new Error(JSON.stringify(actual) + ' == ' + JSON.stringify(expected));
    }
  };
}

var select = sql.select, insertInto = sql.insertInto, insert = sql.insert,
  update = sql.update, del = sql.delete, replace = sql.replace;
var and = sql.and, or = sql.or, like = sql.like, not = sql.not, $in = sql.in,
  isNull = sql.isNull, isNotNull = sql.isNotNull, equal = sql.equal,
  lt = sql.lt, lte = sql.lte, gt = sql.gt, gte = sql.gte, between = sql.between,
  exists = sql.exists, eqAny = sql.eqAny;

describe('SQL Bricks', function() {
  describe('documentation examples', function() {


{{tests}}


  });
});

function check(actual, expected) {
  if (actual instanceof sql.Statement)
    assert.equal(actual.toString(), expected);
  else
    assert.deepEqual(actual, expected);
}

})();
