(function() {

var is_common_js = typeof exports != 'undefined';
var sql = is_common_js ? require('../sql-bricks.js') : window.SqlBricks;

if (is_common_js) {
  var args = process.argv;
  if (args[args.length - 1] == '--empty-extension') {
    console.log('doctests configured with an empty extension');
    sql = sql._extension();
  }
}

var assert;
if (is_common_js) {
  assert = require('assert');
}
else {
  assert = {
    'equal': function(actual, expected) {
      if (actual != expected) throw new Error(JSON.stringify(actual) + ' == ' + JSON.stringify(expected));
    },
    'deepEqual': function(actual, expected) {
      var actual_keys = Object.keys(actual), expected_keys = Object.keys(expected);
      var has_error = false;
      if (actual_keys.length != expected_keys.length) 
        has_error = true;
      
      actual_keys.forEach(function(key) {
        if (actual[key] != expected[key]) has_error = true;
      });

      expected_keys.forEach(function(key) {
        if (actual[key] != expected[key]) has_error = true;
      });

      if (has_error)
        throw new Error(JSON.stringify(actual) + ' == ' + JSON.stringify(expected));
    }
  };
}

var select = sql.select, insertInto = sql.insertInto, insert = sql.insert,
  update = sql.update, del = sql.delete, replace = sql.replace;
var and = sql.and, or = sql.or, like = sql.like, not = sql.not, $in = sql.in,
  isNull = sql.isNull, isNotNull = sql.isNotNull, equal = sql.equal,
  lt = sql.lt, lte = sql.lte, gt = sql.gt, gte = sql.gte, between = sql.between,
  exists = sql.exists, eqAny = sql.eqAny;

describe('SQL Bricks', function() {
  describe('documentation examples', function() {


function invert(obj) {
  var inverted_obj = {};
  Object.keys(obj).forEach(function(key) {
    inverted_obj[obj[key]] = key;
  });
  return inverted_obj; 
}

{{tests}}


  });
});

function check(actual, expected) {
  if (typeof actual == 'object' && typeof expected == 'string')
    assert.equal(actual.toString(), expected);
  else
    assert.deepEqual(actual, expected);
}

})();
